PROJECT_NAME=

# Do not output debug info to console
DEBUG=0
# Run using uvicorn server, see scripts/server_run.sh
IS_DEVELOPMENT=0

# FE domain for redirects/e-mail links. E.g. https://fe.com
FRONTEND_URL=

# Silently pass unsuccsessful email sending
EMAIL_FAIL_SILENTLY=1

# Include https requests in swagger
INCLUDE_HTTPS_SCHEMA=1

# DB type
DATABASE=postgres

# Access data to remote DB
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

# Data for Redis docker image
REDIS_SERVER=redis
REDIS_PASSWORD=12345678
REDIS_APP_DB=0
REDIS_CELERY_DB=1

# Path to .json file
GOOGLE_APPLICATION_CREDENTIALS=/app/google_cloud_access.json

# Abs root url for GC storage
STORAGE_PUBLIC_PATH=https://storage.googleapis.com/{}/

# Remote static files storage
# Remote storage class
STATIC_STORAGE=core.gcloud.GoogleCloudStaticFileStorage
STORAGE_STATIC_ROOT=static/
# Bucket name
GS_STATIC_BUCKET_NAME=static

# Remote media files storage
# Remote storage class
STORAGE=core.gcloud.GoogleCloudMediaFileStorage
STORAGE_MEDIA_ROOT=media/
# Bucket name, should be different from GS_STATIC_BUCKET_NAME
GS_MEDIA_BUCKET_NAME=media

# Credentials for setting up admin panel access, see server_setup.sh
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_USERNAME=