PROJECT_NAME=Blank

# Output various debug info in console
DEBUG=1
# Run using built-in django server, see scripts/server_run.sh
IS_DEVELOPMENT=1

# FE domain for redirects/e-mail links. Use localhost in conjuction with local FE server.
FRONTEND_URL=http://localhost:3000

# Raise exception on unsuccsessful email sending
EMAIL_FAIL_SILENTLY=0

# Include https requests in swagger. Set 1 if using https
INCLUDE_HTTPS_SCHEMA=0

# DB type
DATABASE=postgres

# Data for Postgres docker image
DB_HOST=db
DB_NAME=app
DB_USER=postgres
DB_PASS=12345678
DB_PORT=5432

# Data for Redis docker image
REDIS_SERVER=redis
REDIS_PASSWORD=12345678
REDIS_APP_DB=0
REDIS_CELERY_DB=1

# Google credentials are not used on local storage
GOOGLE_APPLICATION_CREDENTIALS=

# Relative root url for storage files
STORAGE_PUBLIC_PATH=/{}/

# Local static files storage
# Default local storage class
STATIC_STORAGE=django.contrib.staticfiles.storage.StaticFilesStorage
# Abs or relative path in container
STORAGE_STATIC_ROOT=/vol/web/static/
# Path which is relative to real dir {project}/data/
GS_STATIC_BUCKET_NAME=media/static

# Local media files storage
# Default local storage class
STORAGE=django.core.files.storage.FileSystemStorage
# Abs or relative path in container
STORAGE_MEDIA_ROOT=/vol/web/media/
# Path which is relative to real dir {project}/data/
GS_MEDIA_BUCKET_NAME=media/media

# Credentials for setting up admin panel access, see server_setup.sh
DJANGO_SUPERUSER_PASSWORD=12345678
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_USERNAME=admin

